$color_text: white;
$color_link: #a28f61;

.monHeader{
    background-color: #281400;
    ul{
        display: flex;
        justify-content: center;
        li{
            list-style: none;
            padding: 0 1em;
            a{
                color:#b5aea7;
            }

        }


    }
    h1{
        margin-top: 15rem;
        color: $color_text;
        font-family: serif;
    }
    h2{
        color: $color_text;
        font-size: 25px;
        font-weight: bold;
        font-family: serif;

    }
    button{
        background-color: $color_link;
        border: none;
        padding: 0.5em 1em;
        border-radius: 0.5em;
        margin-bottom: 15rem;
    }
}
.monMain{
    table{
        margin: auto;
    }
    .col-md-12{
        article{

            margin: 1em;
            box-shadow: 0px 0px 2px #333;
            padding: 1em;
            img{
                margin: 0 auto;
            }
            h3{
                color:$color_link;
                a{
                    color:$color_link;

                }
            }
        }
    }
    section{
        display: flex;
        article{

            margin: 1em auto;
            box-shadow: 0px 0px 2px #333;
            padding: 1em;
            h3{
                color:$color_link;
                a{
                    color:$color_link;

                }
            }
        }
    }
}


.monFooter{
    background-color: #0f3e57;
    .col-md-3{

        ul{
            li{
                list-style: none;
                color:#b1b1b1;
                margin: 1em;
                &:first-child{
                    color: $color_text;
                }
            }
        }
    }
}
@media (max-width: 700px) {
    section{
        flex-direction: column;
        article{
            width: 90%;
            img{
                width: 100%;
                height: 80%;
            }
        }
    }
}
